.edit-post-container {
  padding: 40px;
  max-width: 800px;
  margin: 40px auto;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* 제목 스타일 */
.edit-post-container h1 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

/* 폼 스타일 */
.edit-post-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* 폼 그룹 스타일 */
.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.form-group textarea {
  height: 200px;
}

/* 버튼 스타일 */
.button-wrapper {
  text-align: center;
  margin-top: 30px;
}

.edit-post-button {
  padding: 16px 22px; /* 수정: 높이를 유지하고 가로 길이를 더 줄임 */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 20px auto;
  background-color: #007bff;
  width: fit-content;
}

.edit-post-button:hover {
  background-color: #0056b3;
}

.back-to-community-button {
  padding: 14px 24px;
  background-color: #6c757d;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 10px;
}

.back-to-community-button:hover {
  background-color: #5a6268;
}
