/* 헤더 스타일 */
.header {
  background-color: rgba(255, 255, 255, 0.8);
  transition: background-color 0.3s ease; /* 부드러운 전환 효과 */
  position: fixed; /* 헤더를 상단에 고정 */
  width: 100%;
  z-index: 1000; /* 다른 요소 위에 표시 */
  padding: 15px;
}

.header.scrolled {
  background-color: black;
  color: white;
}

/* 네비게이션 스타일 */
nav {
  display: flex;
  justify-content: space-between; /* 양쪽 끝으로 정렬 */
  align-items: center; /* 수직 중앙 정렬 */
  padding: 0 30px; /* 네비게이션 패딩 조정 (좌우 10px) */
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: black;
}

.logo:visited {
  color: black;
}

.logo:hover {
  color: #948e8e;
  text-decoration: none;
}

.nav-links {
  list-style: none;
  display: flex; /* 가로로 배치 */
  gap: 30px; /* 항목 간격 */
  padding: 0 40px;
}

.nav-links li {
  display: inline; /* 인라인 배치 */
}

.nav-links a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s; /* 부드러운 색상 전환 */
}

.nav-links a:hover {
  color: grey;
}

.logout-button {
  cursor: pointer; /* 손 모양의 커서 */
  text-decoration: none; /* 다른 버튼과 일관성 있는 스타일 */
  color: inherit; /* 기존 색상 유지 */
}
